<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaCursoController</servlet-name>
        <servlet-class>controller.PesquisaCursoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaCursoController</servlet-name>
        <url-pattern>/PesquisaCursoController</url-pattern>
    </servlet-mapping>
 
    <servlet>
        <servlet-name>PesquisaDisciplinaController</servlet-name>
        <servlet-class>controller.PesquisaDisciplinaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaDisciplinaController</servlet-name>
        <url-pattern>/PesquisaDisciplinaController</url-pattern>
    </servlet-mapping>
    
    
      <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
